*{
    margin: 0%;
    padding: 0%;
}

.textDisplay{
    display: flex;
    justify-content: center;
}

input{
    margin-top: 10px;
    text-align: center;
    height:30px;
    width:180px;
}

input:focus{
    border-color: blue;
    box-shadow: 0 0 0 5px rgba(135,206,235,0.10);
}

button{
    cursor: pointer;
    margin-bottom: 10px;
}

#recordBtn{
    display: flex;
    justify-content: center;
    gap:20px;
}


#startBtn{
    border-radius: 20px;
    border:2px solid black;
    height:40px;
    width: 80px;
}
#stopBtn{
    border-radius: 20px;
    border:2px solid black;
    height:40px;
    width:80px;
}

#audioBack{
    display: flex;
    justify-content: center;
}

.alertImg{
    display: flex;
    justify-content: center;
}

#redBell1{
    height: 80px;
    width:80px;
}
#topicStart{
    font-weight: bold;
}
#topicEnd{
    font-weight: bold;
}

#alertBtn{
    display: flex;
    justify-content: center;
    gap:20px;
}

#submitBtn{
    height:40px;
    width:80px;
    border-radius: 20px;
    background-color: #B21028;
    border: 2px solid darkred;
    color:white;
}
#cancelBtn{
   height: 40px;
   width: 80px;
   border-radius: 20px;
   border:2px solid black;
}
body{
    background-color: #081b31;
    display: flex;
    justify-content: center;
    align-items: center;
}
#box{
    background-color: rgb(255,255,255);
    width:320px;
    height:560px;
    border-radius: 15px;
    display:flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    margin-top: 12px;
}

#submitBtn:hover{
background-color: green;
border:2px solid black;
color:black;
}
#cancelBtn:hover{
    background-color: grey;
}


